<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Cupcake</title>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
    <meta content="text/html" ;charset="UTF-8">
</head>
<body>
    <div id="page"></div>
</body>
</html>